@import "../../Theme/variables.scss";

.revCard {
    border: 1px solid $text_regular_dark;
    border-radius: 20px;
    overflow: hidden;

    display: flex;
    flex-direction: column;

    .revName {
        font-weight: bold;
        margin: 10px 0;
        font-size: 16px;
    }

    .revText {
        font-size: 14px;
        margin: 10px 10px;
        flex-grow: 1;
    }

    .revImgBox {
        position: relative;
        padding-top: 50%;

        img {
            max-width: none;
            height: 100%;
            width: 100%;
            position: absolute;
            inset: 0;
            object-fit: cover;
        }
    }
}

@media (min-width: 480px) {
    .revCard {
        width: 100%;
        flex-direction: row;
        justify-content: flex-start;

        .revName {
            align-self: center;
            padding: 0 10px;
            margin: 30px 5px;
            min-width: 80px;
        }

        .revText {
            text-align: start;
            align-self: center;
            // max-width: 50vw;
        }

        .revImgBox {
            position: relative;
            padding-right: 100px;
            padding-top: 0;
    
            img {
                max-width: none;
                height: 100%;
                width: 100%;
                position: absolute;
                inset: 0;
                object-fit: cover;
            }
        }
    }
}

@media (min-width: 768px) {
    .revCard {
        border: 2px solid $text_regular_dark;
        .revName {
            min-width: 100px;
            margin: 30px 20px;
            font-size: 20px;
        } 

        .revText {
            font-size: 16px;
        }

        .revImgBox {
            padding-right: 150px;
        }
    }
}