

.firstHeader {
    margin: 0;

    section & {
        padding-top: 30px;
    }
}

.benefits--row {
    padding-top: 20px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 10px;
    align-items:first baseline;

    li {
        width: calc((100% - 20px) / 2);
    }
}

@media (min-width: 480px) {
    .benefits--row {
        li {
            width: calc((100% - 20px) / 3);
        }
    }
}

@media (min-width: 768px) {
    .benefits--row {

        flex-wrap: nowrap;
        gap: 20px;
        align-items: baseline;
    
        li {
            width: calc(100% / 5);
        }
    }
}

@media (min-width: 992px) {
    .benefits--row {
        gap: 30px;
    }
}


.flex-center {
    position: relative;

    [alt="bubbles"] {
        position: absolute;
        top: 157vw;
        left: -80px;
        width: 140px;
    }
}
@media (min-width: 480px) {
    .flex-center {
        [alt="bubbles"] {
            top: 60vw;
            width: 35vw;
        }
    }
}
@media (min-width: 768px){
    .flex-center {
        [alt="bubbles"] {
            top: 350px;
            left: -250px;
            width:400px;
        }
    }
}
@media (min-width: 992px){
    .flex-center {
        [alt="bubbles"] {
            top: 480px;
            left: -150px;
            width:400px;
        }
    }
}
@media (min-width: 1440px) {
    .flex-center {
        [alt="bubbles"] {
            top: 500px;
            left: 50px;
            width: 350px;
        }
    }
}

.phoneExaples {
    img {
        width: 100%;
        height: auto;
    }
}

@media (min-width: 480px) {
    .phoneExaples {

        [alt^="two"] {
            display: none;
        }

        img {
            width: 100%;
        }
    }
}

@media (min-width: 768px) {

    .phoneExaples {
        display: flex;
        justify-content: space-around;

        [alt^="two"] {
            display: block;
            margin-left: 20px;
        }

        img {
            height: 350px;
            width: auto;

        }
        &~.message {
            margin: 0 auto;
        }
    }
}

@media (min-width: 992px) {
    .flex-center {
        display: flex;
        flex-direction: column;
    }
    
    .phoneExaples {
        justify-content: center;
        gap: 50px;

        img {
            height: 468px;
        }

        &~.message {
            align-self: flex-end;
            margin: 0 10vw 0;
        }
    }
    }

.reviewList {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: space-between;
}

@media (min-width: 480px) {
    .reviewList {
        flex-direction: row;
        flex-wrap: wrap;
        
    }
}

.questList {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-content: flex-start;
}

@media (min-width: 768px) {
    .reviewList {
        flex-direction: column;
        flex-wrap: nowrap;
        padding: 0 10vw;
    }

    .questList {
        padding: 0 10vw;
    }
}

