@import './fonts.scss';

#root {
    font-family: 'KyivType Titling', Arial, Helvetica, sans-serif;
    font-weight: regular;
    font-size: 16px;
    line-height: 162%;
    color: $black;
}

.container {
    max-width: 1360px;
    margin: 0 auto;
    padding: 0 30px;
}

ul,
ol {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 18px;
    line-height: 145%;
}

// img {
//     max-width: 100%;
//     width: 100%;
//     height: auto;
//     vertical-align: top;
// }

a {
    font-size: 16px;
    text-decoration: none;
    line-height: 125%;

    // &:active {
    //     color: $active-active;
    // }

    // &:hover {
    //     color: $accent;
    // }
}


// Headers
h1 {
    font-size: 6vw;
    line-height: 142%;
    color: $text_regular_white;
    font-weight: normal;
    text-transform: uppercase;
}

h2, .h2 {
    font-size: 32px;
    line-height: 142%;
    color: $text_regular_dark;
    font-weight: 300;
}

h3, .h3 {
    font-size: 24px;
    line-height: 142%;
    color: $text_regular_dark;
    font-weight: bold;
}

h4 {
    font-size: 16px;
    line-height: 142%;
    color: $text_regular_dark;
    font-weight: bold;
}

h5, .h5 {
    font-size: 20px;
    line-height: 142%;
    font-weight: 300;
    color: $text_regular_dark;
    margin: 0;
}

@media (min-width: 768px) {
    h1 {
        font-size: 5vw;
    }

    h2 {
        font-size: 50px;
    }

    h4 {
        font-size: 20px;
    }

}

@media (min-width: 992px) {
    h3, .h3 {
        font-size: 30px;
    }

    h5, .h5 {
        font-size: 28px;
    }
}

@media (min-width: 1280px) {
    h1 {
        font-size: 60px;
    }
}

.unactive {
    font-weight: light;
    color: $text_disabled;
}

.accent {
    background: $text_accent;
    background-clip: text;
    color: transparent;
}

.coursive {
    font-family: 'Caveat', Arial, Helvetica, sans-serif;
    font-weight: bold;
    line-height: 108%;
}

.boldText {
    font-weight: bold;
}