@font-face {
    font-family: 'KyivType Titling';
    src: url('./fonts/KyivTypeTitling-Light.woff2') format('woff2'),
        url('./fonts/KyivTypeTitling-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'KyivType Titling';
    src: url('./fonts/KyivTypeTitling-Bold.woff2') format('woff2'),
        url('./fonts/KyivTypeTitling-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'KyivType Titling';
    src: url('./fonts/KyivTypeTitling-Regular.woff2') format('woff2'),
        url('./fonts/KyivTypeTitling-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Caveat';
    src: url('./fonts/Caveat-Bold.woff2') format('woff2'),
        url('./fonts/Caveat-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Caveat';
    src: url('./fonts/Caveat-Regular.woff2') format('woff2'),
        url('./fonts/Caveat-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}