$black: #000;
$white: #fff;

// Text
$text_regular_dark: #2D2D2D;
$text_regular_white: #fff;
$text_disabled: #6F6F6F;
$text_accent: linear-gradient(156deg, #FF49FE -2.8%, #9436AA 142.07%);

// Baclground
$bg_dark: #2D2D2D;
$bg_light: #ECE4D9;
$bg_accent1: linear-gradient(156deg, #FF49FE -2.8%, #9436AA 142.07%);
$bg_accent2: linear-gradient(180deg, #DCDC00 0%, #EAE800 100%);

// gradients
$white_gradient: linear-gradient(357deg, #F3F3F3 7.41%, rgba(217, 217, 217, 0.00) 97.74%);
$white_gradient_top: linear-gradient(180deg, #ffffff 0%, rgba(217, 217, 217, 0.00) 100%);
$dark_gradient: linear-gradient(360deg, #1C1C1C 1.77%, rgba(255, 255, 255, 0.00) 90.49%);


@keyframes heroItemsSmall {
    0% {
        transform: rotate(20deg);
        
    }
    25% {
        transform: rotate(-45deg);
        scale: 1.1;
    }
    50% {
        transform: rotate(-100deg);
    }
    75% {
        transform: rotate(-60deg);
        scale: 1;
    }
    100% {
        transform: rotate(20deg);
    }
}
@keyframes heroItemsBig {
    0% {
        transform: rotate3d(0deg);
        scale: 0.8;
    }
    50% {
        transform: rotate3d(1, 1, 1, -30deg);
        scale: 1;
    }
    100% {
        transform: rotate3d(0deg);
        scale: 0.8;
    }
}

