@import "../../Theme/_variables.scss";

.darkBg {
    background: $bg_dark;
    padding: 20px 0 0;
}

.choisesHeader {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    padding: 20px 0 0;
    scroll-behavior: smooth;

    span {
        width: 100%;
        max-width: 680px;
        height: 80px;
        background: $white_gradient;
        border-radius: 20px 20px 0 0;
        padding: 10px 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        margin: 0 -30px;

        &.choose {
            background: $white;
            h3 {
                font-weight: bold;
            }
        }
    }

    h3 {
        font-size: 18px;
        margin: 0;
        vertical-align: middle;
        font-weight: 300;
    }
}

@media (min-width: 768px) {
    .darkBg {
        padding: 0;
    }

    .choisesHeader {
        padding-top: 40px;
        gap: 20px;

        h3 {
            font-size: 24px;
        }
    }
}