@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?3shn37');
  src:  url('fonts/icomoon.eot?3shn37#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?3shn37') format('truetype'),
    url('fonts/icomoon.woff?3shn37') format('woff'),
    url('fonts/icomoon.svg?3shn37#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-infinitySVG:before {
  content: "\e900";
}
.icon-person-badgeSVG:before {
  content: "\e901";
}
.icon-pigSVG:before {
  content: "\e902";
}
.icon-starsSVG:before {
  content: "\e903";
}
.icon-tasksSVG:before {
  content: "\e904";
}
.icon-arrowSVG:before {
  content: "\e905";
}
.icon-book:before {
  content: "\e906";
}
.icon-chat:before {
  content: "\e907";
}
.icon-ok:before {
  content: "\e908";
}
.icon-person-badge-blackSVG:before {
  content: "\e909";
}
