@import '../../Theme/variables.scss';


.footer-nav {
    padding-bottom: 20px;

    .rowText {
        display: flex;
        align-items: center;
        gap: 5px;
        justify-content: center;
        margin-top: -15px;

        p {
            margin: 0;
            font-size: 16px;
            padding: 0 5px;
        }

        [alt="arrow"] {
            width: 50px;
            padding-bottom: 10px;
        }
    }
}

@media (min-width: 480px) {
    .footer-nav {
        padding-bottom: 40px;

        .rowText {
            p {
                font-size: 20px;
            }
        }
    }
}

@media (min-width: 768px) {

    .footer-nav {
        padding-bottom: 50px;
        padding-top: 40px;

        .rowText {
            p {
                font-size: 32px;
            }
        }
    }
}
